#play_button{
    background-color:olive;
    color:white;
    border: none;
    padding: 15px 35px;
    width:500px;
    height:200px;
}

#home_screen{
    background-color:burlywood;
    text-align: center;
    font-family: fantasy;
}

#level_1{
    
}  