#play_button{
    background-color:olive;
    color:white;
    border: none;
    padding: 15px 35px;
    width:500px;
    height:200px;
}

#home_screen{
    background-color:burlywood;
    text-align: center;
    font-family: fantasy;
}

#level_1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Andromeda_Galaxy_%28with_h-alpha%29.jpg");
}  